<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"> <!-- bean definitions here -->
    
    <bean id="i18NBean" class="com.durgasoft.beans.I18NBean">
    <property name="messageSource" ref="reloadableResourceBundleMessageSource"></property>
    </bean>
    
    <bean id="resourceBundleMessageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
    <property name="basename" value="com/durgasoft/resources/abc"></property>
    </bean>
    
     <bean id="reloadableResourceBundleMessageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
    <property name="basename" value="com/durgasoft/resources/abc"></property>
    </bean>

</beans>